body {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 12px;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#loggedout {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#loggedin { 
    display: none; 
}

#header {
    padding: 4px;
    border-bottom: 1px solid #000;
    background: #eee;
}

#user-profile {
    float: right;
    margin: 10px;
}

#option-input {
    float: left;
    margin: 10px;
}

.deck { 
    float: left;
    width: 135px;
    height: 210px;
    margin: 20px;
    background: #cccccc;
    border: 1px solid #333333;
    cursor: pointer;
}

.mat { 
    float: left;
    min-width: 135px;
    height: 210px;
    padding: 20px;
    margin: 20px;
    background: #cccccc;
    border: 1px solid #333333;
    cursor: pointer;
}

.card {
    display: block; 
    position: relative;
    width: 135px;
    height: 210px;
    background: #4385a9;
    border: 1px solid #333333;
}


