body {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 12px;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#loggedout {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#loggedin { 
    display: none; 
}

#header {
    padding: 4px;
    border-bottom: 1px solid #000;
    background: #eee;
}

#user-profile {
    float: right;
    margin: 10px;
}

#option-input {
    float: left;
    margin: 10px;
}

.card-wrapper {
    display: inline-block;
    vertical-align: top;
}

.card-wrapper .card-overlay {
    display: none;
    position: absolute;
    width: 135px;
    height: 210px;
    padding: 4px 2px;
    margin-left: -1px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card-wrapper:hover .card-overlay {
    display: block;
}

.card-wrapper.face-up .card-overlay {
    margin: 0 -2px;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.card-overlay .card-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 0 0 1px;
    background-image: url(../img/card-options-overlay.png);
}

.card-btn.card-btn-flip {
    background-position: -2px -4px;
 }

.card-btn.card-btn-tap {
    background-position: -35px -4px;
 }

.card-btn.card-btn-blank {
    background-position: -68px -4px;
 }

.card-btn.card-btn-menu {
    background-position: -101px -4px;
 }

.card-btn.card-btn-move {
    display: block;
    width: 130px;
    height: 168px;
    background-position: -2px -37px;
 }

.card {
    width: 135px;
    height: 210px;
    margin: 10px;
    background: #4385a9;
    border: 1px solid #333333;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

.card-wrapper.face-up .card {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card .face.back {
    background: #4385a9;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card .face.front {
    background: #7c8a62;
}

.card .cover {
    display: block;
    width: 125px;
    height: 100px;
    padding: 5px;
}

.card-sort-placeholder {
    display: inline-block;
    vertical-align: top;
    width: 135px;
    height: 210px;
    margin: 10px;
    background: #7f7f7f;
    border: 1px solid #7f7f7f;
}

.pile {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    min-width: 155px;
    min-height: 250px;
    margin: 10px;
}

.pile .ui-resizable-handle {
    position: absolute;
}

.pile .pile-name {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4px;
}

.pile .card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.deck {
    width: 155px;
    height: 250px;
    background: #cccccc;
    border: 1px solid #333333;
    cursor: pointer;
}

.deck .card {
}

.mat {
    width: 600px;
    height: 250px;
    padding: 0 0 15px 0;
    background: #cccccc;
    border: 1px solid #333333;
    cursor: pointer;
}

.mat .pile-name {
    bottom: 15px;
}

.mat .card-container {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
