body {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 12px;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#loggedout {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#loggedin { 
    display: none; 
}

#header {
    padding: 4px;
    border-bottom: 1px solid #000;
    background: #eee;
}

#user-profile {
    float: right;
    margin: 10px;
}

#option-input {
    float: left;
    margin: 10px;
}

.card {
    float: left;
    width: 135px;
    height: 210px;
    margin: 10px;
    background: #4385a9;
    border: 1px solid #333333;
}
.card.card-drag-placeholder {
    background: #7f7f7f;
    border: 1px solid #7f7f7f;
}
.card.card-drag-placeholder * {
    display: none;
}

.card-sort-placeholder {
    float: left;
    width: 135px;
    height: 210px;
    margin: 10px;
    background: #7f7f7f;
    border: 1px solid #7f7f7f;
}

.pile {
    
}

.pile .ui-resizable-handle {
    position: absolute;
}

.pile .pile-name {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4px;
}

.deck { 
    display: block;
    position: absolute;
    width: 155px;
    height: 250px;
    margin: 10px;
    background: #cccccc;
    border: 1px solid #333333;
    cursor: pointer;
}

.deck .card {
}

.mat {
    display: block;
    position: absolute;
    width: 155px;
    height: 250px;
    padding: 0 0 15px 0;
    margin: 10px;
    background: #cccccc;
    border: 1px solid #333333;
    cursor: pointer;
    overflow-y: hidden;
    overflow-x: scroll;
}
